@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');
.home{
    
    margin: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    /* padding-bottom: 150px; */
    color: #fff;
    display: grid;
   
    /* justify-content: space-around; */
    grid-template-columns: repeat(2,auto);
    /* padding: 260px 0 100px 0; */
}
.name {
    color: #fff;
    font-size: 40px;
    color:#4db5ff;
    /* font-family: 'Roboto Mono', monospace; */
    /* text-shadow: 0 0 5px #ffffff,
    0 0 10px #df60fe,
    0 0 20px rgb(44, 44, 80),
    0 0 30px rgb(66, 66, 104),
    0 0 40px rgb(93, 93, 133),
    0 0 55px rgb(88, 88, 133),
    0 0 70px rgb(85, 85, 116); */

}

.my-name{
    padding: 20px;
    
    font-family: 'Roboto Mono', monospace;
    max-width: 500px;
    margin: auto;
}
h2{
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 255, 255);
}

.my-img{
    /* width: 100%; */
    /* aspect-ratio: 1/1; */
    border-radius: 2rem;
    height:300px;
    width: 200px;
    margin-top: 40px;
    margin: auto;
    background-color:#4db5ff;
    /* background-image: linear-gradient(
        45deg,
        
        #4db5ff
        transparent      
    ); */
    display: grid;
    place-items: center;

    
}
.my-image{
    width:200px;
    border-radius: 2rem;
    overflow: hidden;
    /* transform: rotate(5deg); */
}
.icons{
    display: flex;

    justify-content: space-around;
}
.my-icons{
    color: #4db5ff;
    width: 40px;
}
.my-icons:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.wrap{
    /* font-family: 'Handjet', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #4db5ff;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

/* h2,h1{
    margin-left: 50px;
    float: left;
} */

@media screen and (max-width: 800px) {
    .home {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .name {
        font-size: 30px;
       
    }

    .my-name {
        padding: 10px;
        padding-bottom: 40px;
        max-width: none;
        width: 80%;
        margin: auto;
    }

    .wrap {
        font-size: 30px;
    }

    .my-img {
        
        margin-top: 20px;
        margin: auto;
    }
}
/* @media screen and (max-width: 600px) {
    .wrap{
        font-size: 30px;
    }
} */
@media screen and (max-width: 300px) {
    .wrap{
        font-size: 20px;
    }
}
