@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.proj{
    display: flex;
    /* grid-template-columns: repeat(2,auto); */
    justify-content: space-between;
    

}
#Projects{
    padding-top: 100px;

}
.proj-main-title{
    font-family: 'Roboto Mono', monospace;
    color:#4db5ff;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.my-img2{
    /* width: 100%; */
    /* aspect-ratio: 1/1; */
    border-radius: 10px;
    height:200px;
    width: 200px;
    margin-top: 40px;
    margin: auto;
    
    background-color:#4db5ff;
    display: grid;
    place-items: center;
    padding: 20px;

    
}
.my-image2{
    width:200px;
    height: 200px;
    border-radius: 10px;
    /* border-radius: 2rem; */
    overflow: hidden;
    margin-left: 40px;
    /* transform: rotate(10deg); */
}

.my-projects{
    color:#ffffff;
    max-width: 50%;
    font-family: 'Poppins', sans-serif;
    float: right;
    padding: 40px;
    
    border-radius: 20px;
    margin-right: 20px;
}
/* .my-projects:hover{
    color: black;
    background-color: white;

} */
.bu1{
    width: 50%;
    border: 2px solid #4db5ff;
    padding: 15px;
    margin-top: 20px;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
    color: #4db5ff;
    background-color: rgb(34, 34, 34);
}
.bu1:hover{
    background-color: #4db5ff;
    color: #111;
}
.name{
    font-family: 'Roboto Mono', monospace;
   
    
}

@media screen and (max-width:1000px) {
    .proj{
        
        flex-direction: column;
        /* grid-template-columns: repeat(2,auto); */
        
    }
    
    .my-projects{
        max-width: 90%;
        margin-right: 0px;
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) {
    .my-img2{

        padding: 0;
    }
}